.nav__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    background-image: url("../img/wooden-floor-background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: -300px;
}
header {
    text-align: center;
}
nav {
    background-color: #242424;
    margin: 0;
}
#dropdown__checkbox {
    display: none;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("../img/Minas_Tirith.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin: 0;
    padding: 20px 30px;
    text-shadow: 0 0 4px #fff
}
p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-indent: 30px;
}
.nav__links a {
    color: white;
}
a {
    text-decoration: none;
    color: red;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin: 10px 20px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
h1 a {
    color: black;
}

@media only screen and (max-width: 700px) {
    .h1__second-half {
        display: block;
        margin: 0.67em;
    }
    .nav__links {
        display: none;
        width: fit-content;
        padding: 4px;
    }
    .hamburger img {
        width: 30px;
        height: 30px;
        margin: 6px;
    }
    #dropdown__checkbox:checked ~ .nav__links {
        display: block;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .nav__links li {
        border-bottom: solid grey 2px;
    }
    table {
        width: 100%;
    }
    nav {
        text-align: left;
    }
}
@media only screen and (min-width: 701px) {
    .hamburger {
        display: none;
    }
    .nav__links li {
        display: inline-block;
        border: none;
        height: 40px;
        width: auto;
        text-align: center;
        line-height: 40px;
        border-right: white 2px solid;
        padding: 4px 10px;
    }
    h1 {
        font-size:4em;
    }
    .nav__links li:first-child {
        border-left: white 2px solid;
    }
}