@import url(general-layout.css);

.quote {
    text-indent: 0px;
}
body {
    text-align: center;
}
article {
    margin-left: 10px;
}

@media only screen and (max-width: 750px) {
    body {
        display: flex;
        flex-flow: column;
    }
    .quote {
        font-size: 1.25em;
    }
    .quote__credit {
        font-size: 1rem;
    }
    #introduction {
        border-top: 5px black dotted;
        margin-top: 15px;
        font-size: 1.05em;
    }
    nav {
        text-align: left;
    }
    aside {
        order: 3;
    }
}
@media only screen and (min-width: 751px) {
    aside {
        float: right;
        margin-right: 10px;
        width: calc(27vw - 50px);
    }
    #book-cover {
        margin: 0;
        float: right;
    }
    #book-cover img {
        width: max-content;
    }
    figcaption {
        width: max-content;
    }
    .quote {
        font-size: 2em;
    }
    .quote__credit {
        font-size: 1.5rem;
    }
    #introduction {
        font-size: 1.25em;
    }
    h2 {
        width: calc(73vw - 50px);
        margin-left: 10px;
        margin-right: 0;
    }
    #quotereview {
        width: calc(73vw - 50px);
        height: 420px;
    }
}