@import url(general-layout.css);
p {
    text-align: center;
}

table {
    text-align: center;
}

#author-info, #publisher-info {
    text-indent: 0px;
}

main {
    margin-bottom: 50px;
}

aside {
    margin-bottom: 50px;
    margin-top: 15px;
}

@media only screen and (min-width: 701px) {
    main {
        width: 60vw;
    }

    aside {
        width: 35vw;
        float: right;
    }

    [title] {
        text-decoration-line: underline;
        text-decoration-style: dashed;
        /*border-bottom: 1px dotted #000;*/
    }
}