@import url(general-layout.css);
table {
    background-color: #e7e7e7b0;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
    border-color: black;
}
th, td {
    padding: 10px;
    height: 20px;
}

#middle-earth-works__table thead {
    background-color: #b67a0a;
    color: white;
}
#books-similar__table thead {
    background-color: #b6570a;
    color: white;
}

#other-notable-works__list {
    width: fit-content;
    padding-left: 30px;
    margin-left: 10px;
    border: 1px solid;
    border-color: black;
    background-color: #ffffff60;
}
#other-notable-works__list li {
    padding: 5px;
}


footer {
    order: 4;
}

@media only screen and (min-width: 701px) {
    table {
        margin-left: 10px;
        width: 35%;
    }
    #books-similar__table {
        margin-bottom: 10px;
    }
}