@import url(general-layout.css);

#spoiler-summary {
    position: relative;
    top: 100vh;
    height: 100vh;
}

article {
    font-size: 1.5em;
}

#spoiler-free-summary__disclaimer {
    margin-bottom: 25px;
    font-size: 1.25rem;
}
footer{
    position: absolute;
    bottom: 0;
   text-align: center;
   margin-top: auto;

}
article {
    text-align: center;
}

@media only screen and (min-width: 701px) {
    article {
        text-align: left;
        margin-left: 20px;
    }
}